---
import { data } from "./azeri-data";

export function getStaticPaths() {
  let params = [];
  data.forEach((el) => {
    params.push({ params: { w: el.name } });
  });

  return params;
}

import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

const { w } = Astro.params;
function getValueByName(list, name) {
  for (let item of list) {
    if (item.name === name) {
      return item.value;
    }
  }
  return "Name not found";
}
let ret = getValueByName(data, w).split("\\n\\n")
let el1 = ret[0].replaceAll("\\n", "").replaceAll(/\{[^}]+\}/g, "")
ret = ret.slice(1)
---

<style>
  .container {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(32, 31, 31);
  }
  strong {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(0, 238, 255, 0.205);
    font-weight: bold;
  }
  .container2 {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(0, 238, 255, 0.205);
    font-weight: bold;
  }
  .container3 {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(0, 238, 255, 0.205);
    width: min-content;
    white-space: nowrap;

  }
</style>

<StarlightPage frontmatter={{ title: w || "" }} >
  <ul>
    <div><strong>Dil:</strong> Azerbaycan Türkçesi</div>

    <div class="container2" data-pagefind-filter="azeri">
      {el1.replaceAll("\\n", "").replaceAll(/\{[^}]+\}/g, "")}
    </div>
    {
      ret.map((el) => (
        <li>
          <div class="container" data-pagefind-filter="azeri (anlam)">
            {el.split("\\n").map((el2) => (
              <p>{el2}</p>
            ))}
          </div>
        </li>
      ))
    }
  </ul>
</StarlightPage>
